Options FollowSymLinks
RewriteEngine On

RewriteRule ^([0-9]+)/?$ comic.php?id=$1&%{QUERY_STRING} [L]
RewriteRule ^blog/?$ blog.php?%{QUERY_STRING} [L]
RewriteRule ^blog/([0-9]+)/?$ blog.php?id=$1&%{QUERY_STRING} [L]
RewriteRule ^about/?$ about.php?%{QUERY_STRING} [L]
RewriteRule ^logout/?$ logout.php?%{QUERY_STRING} [L]
RewriteRule ^profile/?$ profile.php?%{QUERY_STRING} [L]
RewriteRule ^profile/([0-9]+)/?$ profile.php?id=$1&%{QUERY_STRING} [L]
RewriteRule ^login/?$ login.php?%{QUERY_STRING} [L]
RewriteRule ^login/(.+)/$ login.php?mode=$1&%{QUERY_STRING} [L]
RewriteRule ^register/?$ register.php?%{QUERY_STRING} [L]
RewriteRule ^([0-9]+)/login/?$ login.php?comic=$1&%{QUERY_STRING} [L]
RewriteRule ^([0-9]+)/login/(.+)/$ login.php?comic=$1&mode=$2&%{QUERY_STRING} [L]
RewriteRule ^([0-9]+)/register/?$ register.php?comic=$1&%{QUERY_STRING} [L]
RewriteRule ^blog/([0-9]+)/login/?$ login.php?blog=$1&%{QUERY_STRING} [L]
RewriteRule ^blog/([0-9]+)/login/(.+)/$ login.php?blog=$1&mode=$2&%{QUERY_STRING} [L]
RewriteRule ^blog/([0-9]+)/register/?$ register.php?blog=$1&%{QUERY_STRING} [L]
RewriteRule ^license/?$ license.php?%{QUERY_STRING} [L]
RewriteRule ^archive/?$ archive.php?%{QUERY_STRING} [L]
RewriteRule ^archive/([0-9]+)/?$ archive.php?actor=$1&%{QUERY_STRING} [L]
RewriteRule ^rss/?$ rss.php?%{QUERY_STRING} [L]

RewriteRule ^thumbnail/([0-9]+)/(.+)$ thumb.php?width=$1&file=$2&%{QUERY_STRING} [L]

#RewriteRule ^blog/[0-9]+/(.+)$ $1 [L]
#RewriteRule ^blog/(.+)$ $1 [L]
#RewriteRule ^[0-9]+/(.+)$ $1 [L]

ErrorDocument 404 /404.php

AddType text/x-component .htc

AddType font/ttf .ttf
ExpiresActive On
ExpiresDefault A900
ExpiresByType text/html A30
ExpiresByType application/html+xml A30
ExpiresByType application/rss+xml A600
ExpiresByType text/css A900
ExpiresByType font/ttf A6048000
AddOutputFilterByType DEFLATE font/ttf

ExpiresByType text/css A0
