h1 {
margin-top: 80px;
margin-left: 220px;
  width: 150px;
  height: 63px;
overflow: hidden;
border: 5px solid black;
font-size: 50px;
background-position: 3px -40px;
padding-left: 30px;
padding-top: 38px;
background-size: 40%;
        text-shadow:0px 0px 5px rgba(0,0,0,0.8);
opacity: 1;
}
h1 a {
-moz-transform: scale(0.85) rotate(-3deg);
white-space: nowrap;
opacity: 1;
}
