@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light&text=RSOPWILTKA%C3%93&v2);
@font-face {
	font-family: "DejaVu Sans";
	src: local("DejaVu Sans"), url('fonts/DejaVuSans.ttf');
}
@font-face {
	font-family: "DejaVu Sans";
	font-weight: bold;
	src: local("DejaVu Sans Bold"), url('fonts/DejaVuSans-Bold.ttf');
}
/*@font-face {
	font-family: "DejaVu Sans Condensed";
	src: local("DejaVu Sans Condensed"), url('fonts/DejaVuSansCondensed.ttf');
}*/
@font-face {
	font-family: "DejaVu Sans Condensed";
	font-weight: bold;
	src: local("DejaVu Sans Condensed Bold"), url('fonts/DejaVuSansCondensed-Bold.ttf');
}
body
{
	/*-moz-transform: rotate(180deg) skew(5deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg) skew(5deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);*/
	background-color:#59b4cf;
	background-image:url('images/background.jpg');
	background-repeat:repeat-x;
	background-attachment:fixed;
	color:black;
	font-family:sans-serif;
	font-size:16px;
	margin:0;
	padding:0;
}

#devwarning
{
	box-shadow: 0px 0px 4px black;
	height:18px;
	width:100%;
	background-color:rgba(255, 255, 255, 0.5);
	color:black;
	text-align:center;
	font-size:14px;
	padding-top:2px;
	text-shadow:0 0 10px white;
}

#logo
{
	position:relative;
	width:1000px;
	height:190px;
	margin:15px auto -5px;
}

#wrapper
{
	position: relative;
	top: 0px;
	width:800px;
	border: 4px solid #ac846a;
	border-radius:5px;
	-moz-border-image:url('images/deska.png') 95 108 103 108 stretch repeat;
	-webkit-border-image:url('images/deska.png') 95 108 103 108 stretch repeat;
	-o-border-image:url('images/deska.png') 95 108 103 108 stretch repeat;
	-ms-border-image:url('images/deska.png') 95 108 103 108 stretch repeat;
	border-image:url('images/deska.png') 95 108 103 108 stretch repeat;
	margin-left:auto;
	margin-right:auto;
	min-height:100%;
	margin-bottom:-103px;
	border-left-color: #8c644a;
	border-right-color: #8c644a;
	border-width:95px 108px 103px;
	padding:4px;
}

h1,h2,.share,#strip,#about,#profile,#login,#archive,#footer,#error,#blog .nav
{
	text-align:center;
}
#archive {
	padding-top: 10px;
}
#content
{
	background-color:rgba(255, 255, 255, 0.5);
	background-image:url('images/shadow.png');
	background-repeat:repeat-x;
	margin:-4px -9px -4px -17px;
	padding:20px;
}

#error
{
	border:4px solid red;
	margin-top:5px;
	background-color:rgba(255,0,0,0.2);
	background-image:url('images/sowka-error.png');
	background-position:20px 20px;
	padding-left:140px;
	padding-top:60px;
	background-repeat:no-repeat;
	min-height:120px;
}

a
{
	color:black;
}

a:hover,h1 a
{
	text-decoration:none;
}

#blog
{
	padding:0 10px;
	text-align: justify;
}

#nav
{
	text-align:center;
	position:absolute;
	top:109px;
	padding: 10px;
	padding-bottom: 0px;
	right:15px;
	opacity:0.9;
	z-index: 2;
	height: 71px;
	overflow: hidden;
}

#strip .nav a,#wrapper #top .nav a, #top a.link-prev, #top a.link-next
{
	display:inline-block;
	text-decoration:none;
	border:1px solid black;
	background-color:rgba(255,255,255,0.5);
	border-radius:5px;
	padding:3px;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
	transition: all 0.3s; 
}

#wrapper #top .nav a, #top a.link-prev, #top a.link-next
{
	border-color: #6a1212;
	-o-border-image:url('images/nav-border.png') 4 4 4 4 stretch;
	-moz-border-image:url('images/nav-border.png') 4 4 4 4 stretch;
	-webkit-border-image:url('images/nav-border.png') 4 4 4 4 stretch;
	-ms-border-image:url('images/nav-border.png') 4 4 4 4 stretch;
	border-image:url('images/nav-border.png') 4 4 4 4 stretch;
	background-image:url('images/wood.jpg');
	background-position:0px 0px;
	background-repeat: repeat-x;
	opacity:0.95;
	color:white;
	text-shadow:0 0 3px #333333;
	border-width:4px;
}

#strip .nav a:hover,#wrapper #top .nav a:hover, #top a.link-prev:hover, #top a.link-next:hover
{
	background-color:#ffffff;
	background-position:0px -50px;
	opacity:1;
}

#strip .nav a:hover {
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

#strip .nav a.disabled,#wrapper #top .nav a.disabled {
        opacity: 0.4;
        background-position:-15px -15px;
        background-color:rgba(255,255,255,0.5);
        -webkit-transform: none;
        -o-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
}

h1 a
{
	color:white;
	opacity:0.9;

	-moz-transition: -moz-transform 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease;
	transition: all 0.3s ease;
}

h1 {
	font-size:100px;
	font-family: "Shadows Into Light", "Comic Sans MS", "Comic Sans", cursive, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow:0 0 10px black;
	position:absolute;
	top:-20px;
	left:30px;
	padding-left:130px;
	background-image:url('images/sowka-logo.png');
	background-position: top left;
	background-repeat:no-repeat;
	text-align:left;
	display:inline-block;
	height:220px;
	padding-bottom:0;
	padding-top:0;
	margin:0;
	z-index: 1;
}

h1 a:hover {
	-o-transform: scale(1.1) rotate(-5deg);
	-moz-transform: scale(1.1) rotate(-5deg);
	-webkit-transform: scale(1.1) rotate(-5deg);
        -ms-transform: scale(1.1) rotate(-5deg);
	transform: scale(1.1) rotate(-5deg);
}

.permalink
{
	font-size:70%;
}

#strip img
{
	max-width:100%;
}

.likeme
{
	border:1px solid white;
	border-radius:10px;
	-moz-border-image:url('images/borders.png') 9 12 11 44 repeat stretch;
	-webkit-border-image:url('images/borders.png') 9 12 11 44 repeat stretch;
	-o-border-image:url('images/borders.png') 9 12 11 44 repeat stretch;
	-ms-border-image:url('images/borders.png') 9 12 11 44 repeat stretch;
	border-image:url('images/borders.png') 9 12 11 44 repeat stretch;
	height:66px;
	max-height:66px;
	padding-top:2px;
	border-width:9px 12px 11px 44px;
	text-align: right;
	width: 450px;
	display: block;
}
.like a {
	text-align: right;
	text-transform: lowercase;
	display: inline-block;
	width: 110px;
	height: 41px;
	position: absolute;
	right: 14px;
	bottom: 14px;
	font-family: "DejaVu Sans Condensed";
	font-weight: bold;
	text-decoration: none;
	color: white;
	font-size: 20px;
	opacity: 0.7;
	text-shadow: 1px 1px 1px #999999;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	transition: all 0.3s;
}
.like a:hover{
	opacity: 1;
}
.like {
	position: relative;
	width: 505px;
	margin-left: auto;
	margin-right: auto;
}
#logo .like
{
	position:absolute;
	right:0;
	top:0;
}

#footer
{
	position: relative;
	background-image:url('images/footer.png');
	background-repeat: no-repeat;
	width:270px;
	height:69px;
	margin-left:auto;
	margin-right:auto;
	padding-top:21px;
	font-size:12px;
	padding-left:15px;
	padding-right:15px;

}

#wrapper #top
{
	text-align:center;
	padding-top:0;
	height:80px;
	margin-top:-84px;
	margin-bottom:4px;
}

#wrapper #top h2
{
	padding-top:20px;
	margin:0;
}

#wrapper #top h2,#wrapper #top p
{
	color:white;
	text-shadow:0 0 4px black;
	font-weight:bold;
	font-family:"DejaVu Sans", "Helvetica", Sans;
}

#wrapper #top p.nav
{
	text-shadow:none;
	margin-top:8px;
}

#wrapper #top h2.main
{
	padding-top:5px;
}

#wrapper #top p.p2rd
{
	margin-top: 10px;
}

#wrapper #top h2.comic {
	padding-top: 0px;
}

#nav a
{
	width:150px;
	height:55px;
	background-image:url('images/menu.png');
	background-repeat: no-repeat;
	margin-left:10px;
	margin-bottom:30px;
	display:inline-block;
	text-decoration:none;
	color:white;
	padding-top:18px;
	font-size:20px;
	text-shadow:1px 1px 2px black;
	font-family:"DejaVu Sans Condensed", "DejaVu Sans", "Helvetica", Sans;
	font-weight:bold;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
	transition: all 0.3s; 
}

#nav a:hover
{
	background-position:0 -90px;
	-o-transform: rotate(5deg) translate(0px,3px) !important;
	-ms-transform: rotate(5deg) translate(0px,3px) !important;
	-moz-transform: rotate(5deg) translate(0px,3px) !important;
	-webkit-transform: rotate(5deg) translate(0px,3px) !important;
	transform: rotate(5deg) translate(0px,3px) !important;
}

#nav a:hover:nth-of-type(even) {
	-o-transform: rotate(-5deg) translate(0px,3px) !important;
	-ms-transform: rotate(-5deg) translate(0px,3px) !important;
	-moz-transform: rotate(-5deg) translate(0px,3px) !important;
	-webkit-transform: rotate(-5deg) translate(0px,3px) !important;
	transform: rotate(-5deg) translate(0px,3px) !important;
}

#footer a
{
	font-style:italic;
	text-decoration:none;
}

#footer a:hover
{
	background-color:rgba(255, 255, 255, 0.3);
}

#footer p
{
	margin:0;
}

#footer:after {
	background-image: url('images/footer.png');
	display: block;
	content: "";
	width: 38px;
	position: absolute;
	height: 40px;
	right: 9px;
	top: 25px;
	background-repeat: no-repeat;
	background-position: -253px -25px;
}
#footer:before {
	-moz-transition: right 1.5s ease 10s;
	-webkit-transition: right 1.5s ease 10s;
	-o-transition: right 1.5s ease 10s;
	-ms-transition: right 1.5s ease 10s;
	transition: all 1.5s ease 10s;

	background-image: url('images/sowka-footer.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 25px;
	right: 7px;
	width: 40px;
	height: 40px;
	display: block;
	content: "";
}
#footer:hover:before {
	-moz-transition: right 1s ease 3s;
	-webkit-transition: right 1s ease 3s;
	-o-transition: right 1s ease 3s;
	-ms-transition: right 1s ease 3s;
	transition: all 1s ease 3s;

	right: -31px;
}
#comments
{
        margin:5px;
        padding:0 10px 10px;
}
#comments h4 {
	margin: 30px;
	text-align: center;
	font-size: 20px;
}
#comments .comment {
	padding: 10px;
	padding-top: 20px;
	border-radius: 15px;
	position: relative;
	min-height: 80px;
}
#comments .comment:nth-of-type(odd) {
	background-color: rgba(255,255,255, 0.3);
}
#comments .comment a {
	text-decoration: none;
	font-weight: bold;
}
#comments .comment a img, #blog .author img, #profile img.avatar {
        -moz-transition: -moz-transform 1s ease;
        -webkit-transition: -webkit-transform 1s ease;
        -o-transition: -o-transform 1s ease;
        -ms-transition: -ms-transform 1s ease;
        transition: all 1s ease;

	border: 3px solid white;
	box-shadow: 0px 0px 3px black;
	border-width: 3px 3px 13px 3px;
	-moz-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
	margin-left: 5px;
	margin-right: 15px;
	width: 50px;
	height: 50px;
}
#comments .comment:nth-of-type(even) a img {
	-moz-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
}
#comments .comment:nth-of-type(3n) a img {
        -moz-transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
}
#comments .comment:nth-of-type(4n) a img {
        -moz-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
}
#comments .comment a img:hover, #blog .author img, #profile img.avatar {
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
}
#comments .comment .comment-user {
	position: absolute;
	top: 20px;
	display: inline-block;
	width: 205px;
        white-space: nowrap;
}
#comments .comment .comment-user .comment-user-info {
	display: inline-block;
	position: relative;
	top: -8px;
	margin-left: 0px;
}
#comments .comment .comment-user .comment-user-info a {
	display: inline-block;
	text-overflow: ellipsis;
	max-width: 130px;
	overflow: hidden;
        position: relative;
	top: 0px;
	z-index: 69;
}
#comments .comment .comment-user .comment-user-admin a {
	border-bottom: 1px dashed black;
}
#comments .comment .comment-user .comment-user-admin a:hover {
        border-top: 1px dashed black;
}
#comments .comment .comment-user .comment-user-info a:hover {
	max-width: none;
	overflow: visible;
	background-color: rgba(255,255,255,0.8);
	padding: 3px;
	border-radius: 5px;
        left: -3px;
        top: -1px;

}
#comments .comment .comment-user .comment-user-info div {
	font-style: italic;
	font-size: 80%;
}
#comments .comment p, #comments #write-comment form {
	margin: 0;
	display: inline-block;
	min-height: 60px;
	position: relative;
	top: 0px;
	left: 200px;
	padding-top: 5px;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px solid #444444;
	width: 500px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-align: justify;
}
#blog .author {
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
	padding: 10px;
	padding-right: 15px;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
	/*box-shadow: 2px 2px 10px #ffffff;*/
}
#blog .nav {
	clear: right;
}
#blog .author img {
	margin-right: 10px;
}
#blog .author div {
	display: inline-block;
	position: relative;
	top: -11px;
}
#blog .author div span {
	display: block;
	font-size: 12px;
}
#blog .author div span#blog-author-name {
	font-size: 16px;
	font-weight: bold;
}
#blog .author div span#blog-author-role {
	font-size: 10px;
}
#archive h3 {
	color: white;
	text-shadow: 0px 0px 8px #555555;
	font-size: 26px;
	text-align: right;
	margin-top: 0;
	margin-bottom: -26px;
}
#archive .desc {
	margin: 30px;
	margin-left: 50px;
	margin-right: 50px;
}
#archive div:nth-of-type(1) {
	margin-top: -20px;
}
#archive .month:nth-of-type(odd) h3 {
	text-align: left;
}
#archive h3:first-letter {
	text-transform: uppercase;
}
#archive .month:nth-of-type(even) {
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
}
#archive .month {
	padding: 30px;
}
#comments #write-comment form textarea {
	width: 490px;
	min-width: 490px;
	max-width: 490px;
	min-height: 110px;
	font-family: "DejaVu Sans", Sans;
	font-size: 12px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 5px;
}
#comments #write-comment form textarea:focus {
	background-color: rgba(255,255,255,0.75);
}
#comments #write-comment form textarea:disabled {
	min-height: 50px;
	max-height: 50px;
	color: #333333;
	text-align: center;
	padding-top: 20px;
	background-color: rgba(255, 255, 255, 0.3);
}
#comments #write-comment form {
	min-height: 50px;
	text-align: right;
}
#comments #write-comment form input {
        margin-top: 5px;
	background-color: rgba(255,255,255,0.5);
	border: none;
	padding: 5px;
	border-radius: 5px;
	width: 25%;
}
#comments #write-comment form input:focus {
        background-color: rgba(255,255,255,0.65);
}
#comments #write-comment form input:hover {
        background-color: rgba(255,255,255,0.75);
}
#comments #write-comment form input:active {
	background-color: white;
}
#comments #write-comment .comment-user {
	padding-top: 5px;
	text-align: right;
}
#comments #write-comment .login {
	position: absolute;
	width: 205px;
	text-align: right;
	bottom: 25px;
}
#comments #write-comment p {
	min-height: 10px;
}
#comments #write-comment .comment-user .loggedas {
	margin-top: 10px;
	font-size: 12px;
}
#comments #write-comment .comment-user .comment-disclaimer {
        margin-top: 10px;
        font-size: 10px;
        white-space: normal;
}
input:required, textarea:required {  
    box-shadow: none;
}  
#comments #write-comment p a {
	display: inline-block:
	padding: 5px;
	/*border: 1px solid black;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;*/
}
/*#comments .write-comment-user {
	background-image: url('images/sowka-footer.png');
	background-repeat: no-repeat;
	background-position: 225px 90%;
}*/
#top a.link-prev, #top a.link-next {
  position: absolute;
  top: -60px;
}
#top a.link-prev {
  left: 0px;
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#top .link-next {
  right: 0px;
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
div#actors {
  position: absolute;
  right: 25px;
  margin-top: 10px;
  background-color: rgba(255,255,255,0.5);
  text-align: left;
  border-radius: 10px;
  opacity: 0.6;
  overflow: hidden;
  z-index: 2;
        -moz-transition: all 0.3s;
        -webkit-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        transition: all 0.3s;
}
div#actors p {
  text-align: center;
  margin: 0px;
  padding: 5px;
}
div#actors:hover p:after {
  content: ":";
}
a.actor {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}
#archive a.actor {
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  margin: 5px;
  text-align: left;
  min-width: 160px;
}
#archive a.actor:hover {
  background-color: rgba(255,255,255,0.7);
}
#archive a.selected {
  background-color: rgba(255,255,255,0.7);
  border: 1px solid black;
  padding: 4px;
}
div#actors a.actor {
  display: none;
}
a.actor img {
  vertical-align: middle;
  border: 2px solid black;
  margin-right: 5px;
}
div#actors:hover {
  opacity: 1;
}
div#actors:hover a.actor {
  display: block;
}
a.actor:hover {
  background-color: white;
}
#archive .bydate span, #archive .byactor a, #archive .bydate a, #archive .byactor span {
  display: inline-block;
  width: 45%;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
}
#archive .bydate span, #archive .byactor span {
  opacity: 0.5;
  font-weight: bold;
}
#archive .bydate a:hover, #archive .byactor a:hover {
  background-color: rgba(255,255,255,0.5);
}
#archive .bydate span, #archive .byactor a {
  text-align: left;
}
#archive .bydate a, #archive .byactor span {
  text-align: right;
}
.login-facebook:hover {
	opacity: 0.9;
}
.login-facebook:active {
	opacity: 1;
}
.login-google, .login-openid, .login-sowka {
	display: inline-block;
	text-indent: -9999px;
	background-image: url('images/signin.png');
	background-repeat: no-repeat;
	width: 80px;
	height: 23px;
        border: 0;
        outline: 0;
}
.login-google {
	background-position: 0px 0px;
}
.login-openid {
	background-position: -80px 0px;
}
.login-sowka {
	width: 75px;
	background-position: -160px 0px;
}
.login-google:hover {
	background-position: 0px -24px;
}
.login-openid:hover {
        background-position: -80px -24px;
}
.login-sowka:hover {
        background-position: -160px -24px;
}
.login-google:active {
	background-position: 0px -48px;
}
.login-openid:active {
        background-position: -80px -48px;
}
.login-sowka:active {
        background-position: -160px -48px;
}
ul { display: inline-block;}
li { text-align: left; }
#profile .logout a {
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
	padding: 5px;
	border-radius: 10px;
	opacity: 0.8;
	position: absolute;
	right: 10px;
	top: 20px;
	text-decoration: none;
}
#profile .logout a:hover {
	background-color: rgba(255,255,255,0.8);
	opacity: 1;
}
#profile form .error, #profile form .message {
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.8);
}
#profile form .error {
	color: red;
}
#profile form {
	margin-left: auto;
	margin-right: auto;
	width: 460px;
        background-color: rgba(255,255,255,0.4);
        padding: 20px;
        border-radius: 10px;
	margin-top: 20px;
	padding-top: 5px;
}
#profile form td {
	text-align: right;
}
#profile form td input, #profile form td textarea {
	width: 100%;
}
#profile form td textarea {
	max-width: 300px;
	min-width: 100%;
}
#profile form td.info {
	text-align: center;
	font-size: 12px;
	padding-top:10px;
	padding-bottom: 10px;
}
#profile form td.info input {
	width: 90px;
}
#profile .userinfo {
	background-color: rgba(255,255,255,0.5);
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
}
#profile .userinfo img {
	margin-right: 5px;
}
#profile .userinfo div {
	display: inline-block;
	text-align: left;
}
#profile .userinfo p {
	margin: 5px;
}
#profile p.nickname {
	font-weight: bold;
}
#profile p.fullname {
	font-style: italic;
}
#profile p.admin {
	font-weight: bold;
}
#profile p.comment_count {
	font-size: 0.8em;
}
#profile p.about {
	border-top: 1px solid #444444;
	padding: 10px;
	margin-bottom: 0;
	margin-left: 150px;
	margin-right: 150px;
}
#profile p.link a {
	display: block;
	max-width: 400px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#profile form td.login {
	font-weight: bold;
	text-align: left;
	padding-left: 5px;
}
#profile ul {
	padding: 15px;
        padding-left: 30px;
	background-color: rgba(255,255,255,0.3);
	border-radius:10px;
	margin: 0;
}
