#content {
	background-color: #ccefff;
}
#devwarning {
	background-color: #deefff;
}
.like {
        behavior: url("/themes/sowka/border-radius.htc");
	border: 1px solid white;   /*    usunąć    */
	background-color: #aadfff; /* po premierze */
}
.likeme {
	background-color: #e0f0ff;
}
.nav a {
	background-color: #ddeeee;
}
#comments .comment .comment-user .comment-user-info a:hover {
	background-color: #ffffff;
}
