body {
	background-attachment: scroll;
}
#wrapper {
        border-width:95px 0px 103px;
        margin-bottom:-103px;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	min-width: 783px;
}
#content {
	margin-left: 0;
	margin-right: 0;
}
#logo {
	min-width: 783px;
	width: 100%;
        height:220px;
	margin-bottom: -36px;
	overflow: hidden;
	top: -20px;
}
#logo .like {
	right: -470px;
	top: 20px;
	z-index: 666;
        -moz-transition: right 0.8s ease-out;
        -webkit-transition: right 0.8s ease-out;
        -o-transition: right 0.8s ease-out;
        -ms-transition: right 0.8s ease-out;
        transition: right 0.8s ease-out;
}
#logo .like:hover {
	right: -5px;
}
#nav a {
	position: relative;
	top: 91px;
}
#nav a:last-of-type {
	position: absolute;
	right: 130px;
	top: 20px;
	background-image: none;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	padding: 10px;
	width: auto;
	height: auto;
        -ms-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
	opacity: 0.7;
	box-shadow: 0px 0px 3px black;
        -ms-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
}
#nav a:last-of-type:hover {
        -ms-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
	opacity: 1;
}
#nav {
	right: 0px;
        height: 162px;
	margin-top: -71px;
	z-index: 654;
}
h1 {
	z-index: 650;
	left: 15px;
	top: 0px;
}
#comments #write-comment form textarea {
        width: 445px;
        min-width: 445px;
        max-width: 445px;
}
#comments #write-comment form {
	width: 455px;
}
.likeme {
        -moz-border-image:url('images/borders2.png') 9 12 11 44 repeat stretch;
        -webkit-border-image:url('images/borders2.png') 9 12 11 44 repeat stretch;
        -o-border-image:url('images/borders2.png') 9 12 11 44 repeat stretch;
        -ms-border-image:url('images/borders2.png') 9 12 11 44 repeat stretch;
        border-image:url('images/borders2.png') 9 12 11 44 repeat stretch;
}
#topnav {
	top: 5px;
}
